{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "useBuiltIns": "usage"
      }
    }]
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}